#main{
    position: relative;
    width: 840px;
}

#grid {
    background: url('./images/puzzleback.gif') no-repeat top left;
    height: 300px;
    width: 400px;
}

#puzzles span{
    margin: 30px;
    color: #2367AA;
    cursor: pointer;
}

.img {
    position: absolute;
    z-index: 2;
}
    
#output{
    visibility: hidden;
}