.main{
    
    position: relative;
    width: 840px;
}

.grid{
    float: left;
    background-image: url('./images/puzzleback.gif');
    background-repeat: no-repeat;
    background-position: top left;
    height: 300px;
    width: 400px;
}

#images{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: -5px;
}

#puzzles span{
    margin: 30px;
    color: #2367AA;
    cursor: pointer;
}


.img {
    position: absolute;
    }
    
#output{
    position: absolute;
    top: 500px;
    visibility: hidden;
}