body {
    width: 950px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.main_body {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

/*--- Top CSS Section ---*/

.title {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: darkorange;
}

nav ul {
    margin: 0 auto;
    width: 940px;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li.selected a {
    color: #fff;
}

/*--- End Top CSS Section ---*/

/*--- Middle CSS Section ---*/
.middle {
    margin-top: 50px;
    width: 468px;
    float: left;
}

h4{
    margin-top: 0px;
}
.cat1 {
    margin-left: 0px;
    width: 111px;
    float: left;
}

.cat1 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat1 h4{
    margin-bottom: 0px;
}


.cat2 {
    margin-left: 8px;
    width: 111px;
    float: left;
}

.cat2 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat2 h4{
    margin-bottom: 0px;
}

.cat3 {
    margin-left: 8px;
    width: 111px;
    float: left;
}

.cat3 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat3 h4{
    margin-bottom: 0px;
}

.cat4 {
    margin-left: 8px;
    width: 111px;
    float: left;
}

.cat4 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat4 h4{
    margin-bottom: 0px;
}

.catImg {
    margin: 0px;
    width: 111px;
    height: 95px;
}

.fullBanner {
    width: 468px;
    height: 60px;
    float: left;
}

.adFb {
    margin: 0px;
    width: 468px;
    height: 60px;
    float: left;
}

.left_inner_col{
    display: block;
    width:111px;
    height: auto;
    float: left;
}

.spnsrdHead {
    margin: 4px;
    width: 111px;
    float: left;
}

.spnsrdHead p{
    margin-top: 0px;
}

.spnsrdHead h4{
    margin-bottom: 0px;
}

.sponsImg1 {
    margin: 0px;
    width: 111px;
    height: 95px;
}

.sponsImg2 {
    margin: 0px;
    width: 111px;
    height: 95px;
}

.middle_inner_col{
    display: inline;
    width: 345px;
    height: 450px;
}

.featurePhoto {
    display: inline;
    width: 345px;
    height: 124px;
}

.fPhoto {
    width: 345px;
    height: 124px;
}

/*--- End Middle CSS Section ---*/
