body {
    width: 950px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.main_body {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}

.left_main_col {
    width: 705px;
    margin-right: 15px;
    float: left;
    background-color: lightgray;
}

.right_main_col {
    width: 180px;
    margin: 0px;
    float: left;
    background-color: lightgray;
}

/*--- Top CSS Section ---*/

.float_container {
    overflow: hidden;
}

.top_ad {
    width: 293px;
    height: 175px;
    background-color: red;
    float: left;
}

.middle_image {
    width: 294px;
    height: 175px;
    background-color: blue;
    float: left;
    margin: 0px 10px;
}

.title {
    width: 800px;
    margin: 15px auto 0px auto;
}

.title_text {
    width: 800px;
    text-align: center;
    font-size: 12px;
    margin: 0px auto 8px auto;
}

nav {
    left: 0;
    width: 100%;
    display: block;
    background-color: darkorange;
    overflow: hidden;
}

nav ul {
    margin: 0 auto;
    width: 950px;
    list-style: none;
    padding: 0px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin: 0px;
    width: 190px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    color: #0000ff;
}

nav ul li.selected a {
    color: #000000;
}

.main_article {
    position: relative;
}

.main_article_text {
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url('images/main_article_background_img.png');
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

/*--- End Top CSS Section ---*/

/*--- Right Main Column Section ---*/

.multi{
    display: inline-block;
    width: 180px;
}

.multi h4{
    margin-bottom: 0px;
}

.videos{
    display: inline;
    width: 180px;
    height: 60px;
}

.vid2 {
    margin-left: 1px;
    width: 56px;
    height: 56px;
    float: left;
}

.vid3{
    margin-left: 5px;
    width: 56px;
    height: 56px;
    float: left;
}

.vid4{
    margin-left: 5px;
    width: 56px;
    height: 56px;
    float: left;
}

.topten{
    margin-top: 10px;
    width: 180px;
}

.ten_title{
    
}
.ten_title h4{
    margin: 5px 0 0 5px;
}

.ten_links{
    text-align: center;
}

.ten_links a{
    text-decoration: none;
    color: #CC5500;
}

.ten_stories{
    width: 180px;
}

.ten_stories ol{
    list-style-position:inside;
    margin-top: 0px;
    list-style: #CC5500;
    padding-left: 3px;
    
}.bot_right{
    float: left;
    width: 180px;
    height: 360px;
    
}

.bot_right h3{
    margin-bottom: 0px;
}

.bot_right img{
    margin-left: 5px;
}

.bot_right a{
    color: inherit;
    text-decoration: inherit;
}


/*--- Right Main Column Section ---*/

/*--- Middle CSS Section ---*/
.middle {
    display: inline;
    margin-top: 50px;
    width: 705px;
}

h4{
    margin-top: 0px;
}

/*--- Category Section ---*/
.cat1 {
    margin-left: 0px;
    width: 170px;
    float: left;
}

.cat1 p{
    margin: 0px;
    width: 170px;
    height: 92px;
    overflow: hidden;
}

.cat1 h4{
    margin-bottom: 0px;
}


.cat2 {
    margin-left: 8px;
    width: 170px;
    float: left;
}

.cat2 p{
    margin: 0px;
    width: 170px;
    height: 92px;
    overflow: hidden;
}

.cat2 h4{
    margin-bottom: 0px;
}

.cat3 {
    margin-left: 8px;
    width: 170px;
    float: left;
}

.cat3 p{
    margin: 0px;
    width: 170px;
    height: 92px;
    overflow: hidden;
}

.cat3 h4{
    margin-bottom: 0px;
}

.cat4 {
    margin-left: 8px;
    width: 170px;
    float: left;
}

.cat4 p{
    margin: 0px;
    width: 170px;
    height: 92px;
    overflow: hidden;
}

.cat4 h4{
    margin-bottom: 0px;
}

.catImg {
    margin: 0px;
    width: 170px;
    height: 144px;
    float: left;
}
/*--- End Category Section ---*/

.fullBanner {
    width: 705px;
    height: 90px;
    float: left;
}

.adFb {
    margin: 0px;
    width: 705px;
    height: 90px;
    float: left;
}

/*--- Left Inner Column Section ---*/
.left_inner_col{
    display: block;
    width:130px;
    height: auto;
    float: left;
}

.spnsrdHead {
    margin: 4px;
    width: 130px;
    float: left;
}

.spnsrdHead p{
    margin-top: 0px;
}

.spnsrdHead h4{
    margin-bottom: 0px;
}

.sponsImg1 {
    margin: 0px;
    width: 130px;
    height: 95px;
}

.sponsImg2 {
    margin: 0px;
    width: 130px;
    height: 95px;
}
/*--- End Left Inner Column Section ---*/

/*--- Middle Inner Column Section ---*/
.middle_inner_col{
    display: inline;
    width: 563px;
    height: 650px;
}


.featurePhoto {
    display: inline;
    width: 563px;
    height: 335px;
}

.feature_Title{
    margin: 3px 0px 0px 12px;
    width: 563px;
    height: 19px;
    float: left;
}

.fPhoto {
    margin: 0px 0px 5px 12px;
    width: 563px;
    height: 316px;
}
/*--- End Middle Inner Column Section ---*/

/*--- End Middle CSS Section ---*/

.bottom{
    
    border: 3px solid red;
    height: 390px;
    width:900px; 
    margin-top: 420px;
    
}

.bot_left{
    padding-left:10px;
    border: blue 3px solid;
    width: 111px;
    padding: 10px;
   
}

.print_version{
    width: 111px;
    text-align: center;
}

.bot_ad{
    padding-top: 100px;
    width: 111px;
    height: 150px;
    background-color: red;
}

.head_lines{
    color: green;
    width: 100px;
    height:100px;
    background-color: black;
    float: left;
}

.bot_right{
    float: left;
    border: 3px solid;
    width: 111px;
}

.footer{
    margin-top: 10px;
    border: 3px solid;
    background-color: yellow;
    height: 22px;
}

.about{
    float: left;
    padding-left: 10px;
}

.contact{
    float:left;
    padding-left: 20px;
}

.twitter_feed {
    height: 400px;
}