body {
    width: 950px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.main_body {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.left_main_col {
    width: 585px;
    margin-right: 15px;
}

.right_main_col {
    width: 300px;
    margin: 0px;
}

/*--- Top CSS Section ---*/

.title {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    left: 0;
    width: 100%;
    border: red 2px solid;
    display: block;
    background-color: darkorange;
}

nav ul {
    margin: 0 auto;
    width: 940px;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li.selected a {
    color: #fff;
}

/*--- End Top CSS Section ---*/

/*--- Middle CSS Section ---*/
.middle {
    margin-top: 50px;
    width: 468px;
    float: left;
}

h4{
    margin-top: 0px;
}
.cat1 {
    margin-left: 0px;
    width: 111px;
    float: left;
}

.cat1 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat1 h4{
    margin-bottom: 0px;
}


.cat2 {
    margin-left: 8px;
    width: 111px;
    float: left;
}

.cat2 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat2 h4{
    margin-bottom: 0px;
}

.cat3 {
    margin-left: 8px;
    width: 111px;
    float: left;
}

.cat3 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat3 h4{
    margin-bottom: 0px;
}

.cat4 {
    margin-left: 8px;
    width: 111px;
    float: left;
}

.cat4 p{
    margin: 0px;
    width: 111px;
    height: 92px;
    overflow: hidden;
}

.cat4 h4{
    margin-bottom: 0px;
}

.catImg {
    margin: 0px;
    width: 111px;
    height: 95px;
}

.fullBanner {
    width: 468px;
    height: 60px;
    float: left;
}

.adFb {
    margin: 0px;
    width: 468px;
    height: 60px;
    float: left;
}

.left_inner_col{
    display: block;
    width:111px;
    height: auto;
    float: left;
}

.spnsrdHead {
    margin: 4px;
    width: 111px;
    float: left;
}

.spnsrdHead p{
    margin-top: 0px;
}

.spnsrdHead h4{
    margin-bottom: 0px;
}

.sponsImg1 {
    margin: 0px;
    width: 111px;
    height: 95px;
}

.sponsImg2 {
    margin: 0px;
    width: 111px;
    height: 95px;
}

.middle_inner_col{
    display: inline;
    width: 345px;
    height: 450px;
}

.featurePhoto {
    display: inline;
    width: 345px;
    height: 124px;
}

.fPhoto {
    width: 345px;
    height: 124px;
}

/*--- End Middle CSS Section ---*/

.bottom{
    
    border: 3px solid red;
    height: 390px;
    width:900px; 
    margin-top: 420px;
    
}

.bot_left{
    padding-left:10px;
    border: blue 3px solid;
    width: 111px;
    padding: 10px;
   
}

.print_version{
    width: 111px;
    text-align: center;
}

.bot_ad{
    padding-top: 100px;
    width: 111px;
    height: 150px;
    background-color: red;
}

.head_lines{
    color: green;
    width: 505px;
    height:100px;
    background-color: black;
    float: left;
}

.bot_right{
    float: left;
    border: 3px solid;
    width: 111px;
}

.footer{
    margin-top: 10px;
    border: 3px solid;
    background-color: yellow;
    height: 22px;
}

.about{
    float: left;
    padding-left: 10px;
}

.contact{
    float:left;
    padding-left: 20px;
}
